.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;

}

.comment-head{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3%;
}

.comment-bottom{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 5% 0;
}

.comment-list-button{
    display: flex;
}