.vote-form{
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vote-form form{
    width: 100%;
}

.vote-form-select{
    width: 100%;
}

.vote-form-button{
    width: 100%;
}

.vote-chart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3% 12% 3% 12%;
}