.card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card :hover{
    background-color: rgb(226, 234, 255);
}

.card-text{
    font-size: 14px;
}

.item-card-image{
    width: 35%;
}

.mbti-card-image{
    width: 100px;
    height: 100px;
}

.itemLink {
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 23%;
    height: 25%;
}

/* .card-group {
    display: flex;
    justify-content: center;
} */