#root a {
    text-decoration: none;
    color: black;
}

#root * {
    color : black;
}

* {
    font-family: 'KOTRA_BOLD';
}
@font-face {
    font-family: 'KOTRA_BOLD';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}