#root a {
    text-decoration: none;
    color: black;
}

#root * {
    color : black;
}

#root button {
    background-color: #d1e7dd;
    transition: background-color 0.1s linear;
    border: none;
}

#root button:hover {
    background-color: #e7f5ef;
    transition: background-color 0.1s linear;
}

#root .page-link{
    background-color: #d1e7dd;
}

* {
    font-family: 'SBAggroM';
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}