#root a {
    text-decoration: none;
    color: black;
}

* {
    font-family: 'HSGaeulsenggak';
}

@font-face {
    font-family: 'HSGaeulsenggak';
    src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');